# Pastas do Editor de Código / IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos do Sistema Operacional (Mac e Windows)
.DS_Store
Thumbs.db
Desktop.ini

# Logs de Erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# (Se futuramente usar Node.js/NPM)
node_modules/
